exportPattern("^[[:alpha:]]+")
S3method(bmeta, default)
S3method(print, bmeta)
import(R2jags)
import(forestplot)
importFrom(grid,gpar)
importFrom(grDevices, colors)
importFrom(graphics, abline, hist, plot, points, text,segments)
importFrom(stats, acf, quantile, rgamma, rnorm, runif,var)
